<h1><%= @user.username %>'s profile</h1>

<%= link_to 'Logout', logout_path, data: {turbo_method: :delete} %>
<div>
  <%= gravatar_for @user, size: 200 %>
</div>
<div>
  <% if logged_in? && @user == current_user %>
    <%= link_to "Edit Your Profile", edit_user_path(@user)  %>  
  <% end %>
</div>


<h3>Articles</h3>

<div class="digg_pagination">
  <%= will_paginate @articles%>
</div>
<%= render 'articles/article' %>